* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at bottom, rgb(0, 0, 53), #000216);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

h1 {
    color: #fa148b;
    font-size: 3rem;
}
button {
    padding: 0.3rem 1.6rem;
    font-size: 32px;
    border-radius: 15px;
    border: none;
    color: #eaeaea;
    transition: all 0.3s ease-in-out;
}

button:active {
    scale: 0.95;
}

#answer-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#answer-container h3{
    color: #eaeaea;
    text-align: center;
}

#no {
    background: rgb(255, 0, 0);
}


#msg {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}
footer{
    position: absolute;
    color: white;
    bottom: 0;
    padding: 2rem;
}
#canvas{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
}
.rocket{
    position: absolute;
    width: 4px;
    height: 24px;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.firework{
    position: absolute;
    width: 6px;
    height: 6px;
}
.firework span{
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    animation: explode 2s ease-in-out forwards;
}


@keyframes explode {
    from {
        transform: translate(0,0);
        width: 0;
        height: 0;
        opacity: 1;
    }
    to{
        transform: translate(var(--x),var(--y));
        opacity: 0;
    }
}